# Start with glob syntax
syntax: glob

*.bak
*.ncb
*.suo
*.user
*.cache
*.cachefile
*.orig
*.csproj~
TestResults.xml
*.Debug.cachefile
*/Content/obj
*.sln
*.suo

syntax: regexp
/bin/
/obj/
ClientGame/bin/
ClientGame/obj/
AngelXNA/bin/
AngelXNA/obj/
IntroGame/bin/
IntroGame/obj/